body{
    margin: 0px;
    font-family: 'Redressed', cursive;
}
h1{

font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: darkgreen;
}
.name-heighlite{
    color: crimson;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
height: 100%;
}
.top-banner{
    border: 0px solid;
    background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}
section{
    padding-bottom: 100;

    height: 500px;
}
.link-button{
    text-decoration: none;
 background-image:linear-gradient(lightsalmon, gray);
 padding: 10px 20px;
 border-radius: 5px;
 color: darkgray;
 font-weight: 700;
}
.dream-area{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width{
    image:100%
}